\usepackage{amssymb}
\usepackage{amssymb}\usepackage{amssymb}# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj\divideontimes\amalg\amalg\otimes\otimes\oplus\boxminus\boxdot\ominus\oplus\ominus\oplus
*.sln
*.sw?

.env
/docs/feedback/
/docs/Отчет.aux
/docs/Отчет.synctex.gz
